body{
	padding: 0;
	margin: 0;
	background-image: url("../imagens/bg.png");
	background-repeat: no-repeat;
	background-size:100% 100%;
	object-fit:cover;

}

.arealogin{
	margin-left:0px;
	width: 37%;
	height: 100%;
	background-color: #DCDCDC;
	border-style: solid;
    border-width: 0px 2px 0px 0px

}

.logo{
background-color:transparent;
border:none;
}
#botao{
	margin-left: 110px;
	background-color: red;
	border-style: solid;
	border-color:black;
	color:white;
	width:80px;
}
#botao:hover{
	background-color:white;
	color:red;
	transition-duration:1s;
	transition-property: all;
}
.loginesenha{
	border-style: solid;
	border-color:black;
}
.login{
	margin-top: 100px;
}
#imagens{
	float:right;
	position: absolute;
	margin-left: 498px;

}
.selecao{
position: absolute;
 width: 100px;
 height: 11%;
 border: 2px solid black;
 color:black;
}
.selecao:hover{
	background-color:#D5D5D5;
}

.etec{
-webkit-transform:scale(1) rotate(0deg);
transition-duration: 1s;
transition-property: all;
width: 20%;

			}
			.logo:hover .etec{
				-webkit-transform:scale(1) rotate(-360deg);
				transition-duration: 1s;
				transition-property: all;
			}

