body{
	background-color: white;
}
a{
	text-decoration: none;
	color: white;
}
#comandos{
	width: 400px;
	border-radius: 5px;
}
#comandos #play{

margin-top: 10px;

}
.botoes{
	background-color: #491aaf;
	border:none;
	border-radius: 2px;
	font-size: 24px;
	width: 10%;
}
#descricao{
	margin-top: 10px;
	width: 400px;
	height: auto;
	background-color: black;
	border-radius: 5px;
	color: white;
	font-family: "calibri";
	font-size: 24px;
}
.foto{
	border-radius: 100%;
}
.menunaofeedo{
	background-color: #024400;
	width: 100%;
}
.busca{
	margin:30px;
}
.campo{
	width: 300px;
	border-radius: 5px;
	border:none;
}
.buscar{
	margin-left: -30px;
	border:none;
	background-color: transparent;
}
.podcast{
	border-radius: 10px;
	margin-top: 10px;
	background-color: black;
	float: left;
	margin-left: 50px;
	width: 250px;
	height: 350px;
}
.podcastescolhido{
	border-radius: 10px;
	margin-top: 10px;
	background-color: black;
	width: 70%;
	height: auto;
}
.imagemouvir{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}